<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Moviezz </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/flatly/bootstrap.min.css"
    integrity="sha512-qoT4KwnRpAQ9uczPsw7GunsNmhRnYwSlE2KRCUPRQHSkDuLulCtDXuC2P/P6oqr3M5hoGagUG9pgHDPkD2zCDA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.esm.min.js"
    integrity="sha512-p6KKvRUjLcXZtvsFd+01s4jcHKu0PNWplQNHeEHmq+27tF5osNRRNkziDu45B5Mo+0+DE/k1qD0ZI29DHEutww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link href="https://fonts.googleapis.com/css?family=Metamorphous|Swanky+and+Moo+Moo" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">The New IMDB</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search?source=hp" method="post" id="search-form" class="form-inline">

            <div class="form-group">
              <select name="cat" class="form-control" id="cat">
                <option value="movie">Movie Title</option>
                <option value="person">Actor</option>
              </select>
            </div>

            <input type="text" id="movie" placeholder="Search" name="movieSearch" />


            <input type="submit" class="btn btn-primary" />
          </form>
        </li>
      </ul>
    </div>
  </nav>