<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Moviezz </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/flatly/bootstrap.min.css"
    integrity="sha512-qoT4KwnRpAQ9uczPsw7GunsNmhRnYwSlE2KRCUPRQHSkDuLulCtDXuC2P/P6oqr3M5hoGagUG9pgHDPkD2zCDA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link href="https://fonts.googleapis.com/css?family=Metamorphous|Swanky+and+Moo+Moo" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
</head>

<body>

  <nav class="navbar navbar-light bg-light navbar-expand-md mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">The New IMDB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navDropdown"
        aria-controls="navDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
        </ul>
        <form class="d-flex" action="/" method="get">
          <select value="<%= locals.category %>" name="cat" class="form-select me-2">
            <option value="movie">Title</option>
            <option value="person" <% if(locals.ategory=='person' ) { %>selected<% } -%>>Actor</option>
          </select>
          <input class="form-control me-2" value="<%= locals.search %>" type="search" placeholder="Search" name="s" />
          <input type="submit" class="btn btn-outline-success" />
        </form>
      </div>

    </div>
  </nav>