body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.poster img {
  width: 90%;
  text-align: center;
  margin: 10px 5% 10px;
}

.single-movie-title,
.overview-header {
  font-family: "Metamorphous", cursive;
}

.overview-header {
  font-size: 20px;
  font-weight: bold;
}

.single-movie-overview {
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 24px;
  font-weight: normal;
}
